<h1>Modifier mon profil</h1>
<div>
  <h3>Informations</h3>
  <%= @user.first_name %>
  <%= @user.gender %>


<%= form_for @user, html: { id: "dancer-profile-form" } do |f| %>
    <div class="form-group">
      <%= f.label :gender %>
      <%= f.select :gender, options_for_select(['Lady', 'Gentleman', 'Association'], @user.gender) %>
    </div>
    <div class="form-group">
        <%= f.collection_check_boxes :dance_ids, @dances, :id, :name do |b| %>
        <%= b.check_box %> <%= b.label %>
          <% end %>
      </div>
    </div>
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  <% end %>
</div>
