<div class="container">
  <div class="box">
    <h1><%= @user.first_name %>'s Profile</h1>
    <p>Email: <%= @user.email %></p>

    <% if @user.birthday.present? %>
      <p>Birthday: <%= @user.birthday.strftime('%B %d, %Y') %></p>
    <% else %>
      <p>Birthday: Not provided</p>
    <% end %>
  </div>
  <%= link_to 'Edit Profile', edit_user_path %>

<h3>Selected Dances:</h3>
<ul>
  <% @user.dances.each do |dance| %>
    <li><%= dance.name %></li>
  <% end %>
</ul>
