<div class="container text-center">
    <div class="col">
    <h1><%= @user.first_name %>'s Profile</h1>
    <p>Email: <%= @user.email %></p>
    <% if @user.birthday.present? %>
    <p>Birthday: <%= @user.birthday.strftime('%B %d, %Y') %></p>
    <% else %>
    <p>Birthday: Not provided</p>
    <% end %>
  </div>
  <div class="col">
    <div>
      <%= form_with(models: @user, local: true) do |f| %>
      <div class="form-group">
        <% @user.dances.each do |dance| %>
          <div class="dance-selection">
            <%= f.label "dance_#{dance.id}", dance.name %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<button type="button" class='btn btn-primary'><%= link_to 'Communautés', dances_path, class:'text-dark border-0 custom-btn-hover' %></button>
