<div class="container">
  <div class="box">
    <h1><%= @user.first_name %>'s Profile</h1>
    <p>Email: <%= @user.email %></p>
    <% if @user.birthday.present? %>
      <p>Birthday: <%= @user.birthday.strftime('%B %d, %Y') %></p>
    <% else %>
      <p>Birthday: Not provided</p>
    <% end %>
  </div>
  <%= link_to 'Add an Event', new_event_path %>
  <%= link_to 'Edit Profile', edit_user_path %>

<h3>Selected Dances:</h3>
  <div>
  <%= form_with(models: @user, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :dances, "Select Your Dances and Levels" %>
    <% @user.dances.each do |dance| %>
      <div class="dance-selection">
        <%= f.label "dance_#{dance.id}", dance.name %>
        <%= f.collection_select :level_ids, Level.all, :id, :name do |b| %>
        <%= b.check_box %> <%= b.label %>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Save Changes" %>
    </div>
  <% end %>
</div>
