<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">DANCING PARTNERS V.1</a>
    <a class="navbar-brand" href="#"><%= link_to 'Accueil', root_path %></a>
    <a class="navbar-brand" href="#"><%= link_to 'Mon profil', user_path(current_user) %></a>
    <a class="navbar-brand" href="#"><%= link_to 'Danseurs', users_path %></a>
    <a class="navbar-brand" href="#"><%= link_to 'Agenda', events_path %></a>
    <a class="navbar-brand" href="#"><%= link_to 'Chat', chat_path  %></a>
    <a class="navbar-brand" href="#"><%= link_to 'Déconnexion'  %></a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
