<h1>AGENDA DES EVENEMENTS</h1>
<div class="container-lg" style="display:grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
  <% @events.each do |event| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><td><%= event.name %></td></h5>
        <tr>
          <td><%= event.location %></td>
          <td><%= event.start_date.strftime('%B %d, %Y %H:%M') %></td>
          <td><%= event.end_date.strftime('%B %d, %Y %H:%M') %></td>
          <td>
            <%= link_to 'Show', event_path(event) %> |
            <%= link_to 'Edit', edit_event_path(event) %> |
            <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <% end %>
</div>

<button type="button" class="btn btn-light"><%= link_to 'Créer un evènement', new_event_path %></button>
